<img ng-src="{{selected.avatar}}" class="avatar">
<a ng-href="{{selected.websiteUrl}}" target="_blank" title="go to {{selected.websiteUrl}}"><h2>{{selected.name}}</h2></a>
<p>
    {{selected.content}}
</p>
<md-button class="share" md-no-ink aria-label="Share with {{selected.name}}" ng-click="lc.makeContact(selected)">
    <md-icon md-svg-icon="share"></md-icon>
</md-button>
<div ng-if="selected.voted">
  <md-button md-no-ink aria-label="Share with {{selected.name}}" ng-disabled="true" ng-click="lc.incrementLikes(selected)">
    <md-icon md-svg-icon="thumbsup"></md-icon> Like {{selected.like}}
</md-button>
<md-button md-no-ink aria-label="Share with {{selected.name}}" ng-disabled="true" ng-click="lc.incrementDislikes(selected)">
    <md-icon md-svg-icon="thumbsdown"></md-icon> Dislike {{selected.dislike}}
</md-button>
<p class="vote-text">You chose to {{selected.votedValue}} {{selected.name}}. Thank you for voting!</p>
</div>
<div ng-if="!selected.voted">
  <md-button md-no-ink aria-label="Share with {{selected.name}}" ng-disabled="false" ng-click="lc.incrementLikes(selected)">
    <md-icon md-svg-icon="thumbsup"></md-icon> Like {{selected.like}}
</md-button>
<md-button md-no-ink aria-label="Share with {{selected.name}}" ng-disabled="false" ng-click="lc.incrementDislikes(selected)">
    <md-icon md-svg-icon="thumbsdown"></md-icon> Dislike {{selected.dislike}}
</md-button>
</div>

<div>
    <a twitter data-text="{{tweet}}" data-url="https://my-lessons.herokuapp.com/" style="float: right"></a>
    
</div>


 

 