<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Lessons</title>
   <meta name="description" content="My Lessons">

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link rel="stylesheet" href="../../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="app.css"/>

</head>
<body ng-app="MyApp" ng-cloak layout="column" ng-controller="UserController as ul">
<md-toolbar layout="row">
<md-button class="menu" ng-click="ul.toggleUserList()" hide-gt-sm aria-label="Show user list sidenav">
  <md-icon md-svg-icon="menu"></md-icon>
</md-button>
<h1>My Lessons</h1>
</md-toolbar>

<div class="container" layout="row" flex>
  <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp" md-component-id="left">

    <md-list ng-click="ul.toggleUserList()">
      <md-list-item ng-repeat="u in ul.users">
        <md-button ng-click="ul.selectUser(u)">
        <img src="{{u.avatar}}" class="png-icon avatar" style="width: 50px; height: 50px;">
                  <!-- <md-icon ng-src="{{u.avatar}}" class="avatar"></md-icon> -->
                  {{u.name}}
                </md-button>
      </md-list-item>
    </md-list>

  </md-sidenav>

  <md-content id="content" flex>
      <img src="{{ul.selected.avatar}}" class="avatar">
      <!-- <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon> -->
          <a ng-href="{{ul.selected.websiteUrl}}" target="_blank"><h2>{{ul.selected.name}}</h2></a>
          <p>
            {{ul.selected.content}}
          </p>

          <md-button class="share" md-no-ink aria-label="Share with {{ul.selected.name}}" ng-click="ul.makeContact(ul.selected)">
            <md-icon md-svg-icon="share"></md-icon>
          </md-button> 
  </md-content>
</div>


    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../../node_modules/angular-material/angular-material.js"></script>
    <script src="Users.js"></script>
    <script src="UsersController.js"></script>
    <script src="UsersService.js"></script>

    <script>
      angular.module('MyApp', ['ngMaterial', 'users'])
        .config(function( $mdIconProvider, $mdThemingProvider ){
         
          $mdIconProvider.icon('share', '../svg/share.svg', 24)
              .icon("menu"       , "../svg/menu.svg"        , 24)
              .icon("google_plus", "../svg/google-plus-box.svg" , 24)
              .icon("twitter"    , "../svg/twitter-box.svg"     , 24)
              .icon("facebook"      , "../svg/facebook-box.svg", 24);

          $mdThemingProvider.theme('default')
              .primaryPalette('brown')
              .accentPalette('red');
      
      })
      .run(function($log) {
        console.log("MyApp is loaded! :)");
        $log.debug("MyApp is loaded! :) $log");
      }); 
    </script>
</body>
</html>