<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Lessons</title>
   <meta name="description" content="My Lessons">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="app.css"/>

</head>
<body ng-app="MyApp" ng-cloak layout="column" ng-controller="LessonController as ll">
<md-toolbar layout="row">
<md-button class="menu" ng-click="ll.toggleLessonList()" hide-gt-sm aria-label="Show lesson list sidenav">
  <md-icon md-svg-icon="menu"></md-icon>
</md-button>
<h1>My Lessons</h1>
</md-toolbar>

<div class="container" layout="row" flex>
  <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp" md-component-id="left">

    <md-list ng-click="ul.toggleLessonList()">
      <md-list-item ng-repeat="l in ll.lessons">
        <md-button ng-click="ll.selectLesson(l); ll.setActive(l, ll.lessons)" ng-class="{active: l.active}">
        <img src="{{l.avatar}}" class="png-icon avatar">
                  <!-- <md-icon ng-src="{{l.avatar}}" class="avatar"></md-icon> -->
                  {{l.name}}
                </md-button>
      </md-list-item>
    </md-list>

  </md-sidenav>

  <md-content id="content" flex>
      <img src="{{ll.selected.avatar}}" class="avatar">
      <!-- <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon> -->
          <a ng-href="{{ll.selected.websiteUrl}}" target="_blank"><h2>{{ll.selected.name}}</h2></a>
          <p>
            {{ll.selected.content}}
          </p>

          <md-button class="share" md-no-ink aria-label="Share with {{ll.selected.name}}" ng-click="ll.makeContact(ll.selected)">
            <md-icon md-svg-icon="share"></md-icon>
          </md-button> 
  </md-content>
</div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="components/Lessons.js"></script>
    <script src="components/LessonController.js"></script>
    <script src="components/LessonService.js"></script>
    <script src="js/app.js"></script>
</body>
</html>