<md-toolbar>
    <h2 class="md-toolbar-tools">Add Lesson</h2>
</md-toolbar>
<md-content layout-padding>
    <form>
    <div style="display:none">
        <input type="text" id="id" ng-model="vm.newLesson.id" ng-init="vm.newLesson.id=100" value="100">
        <input type="text" id="like" ng-model="vm.newLesson.like" ng-init="vm.newLesson.like=0" value="0">
        <input type="text" id="dislike" ng-model="vm.newLesson.dislike" ng-init="vm.newLesson.dislike=0" value="0"> 
    </div>
   
        <md-input-container class="md-block">
            <label for="name">Name</label>
            <input type="text" id="name" ng-model="vm.newLesson.name" md-autofocus>
        </md-input-container>
        <md-input-container class="md-block">
            <label for="avatar">Link to image</label>
            <input type="text" id="avatar" ng-model="vm.newLesson.avatar">
        </md-input-container>
        <md-input-container class="md-block">
            <label for=""></label>
            <textarea type="text" id="content" ng-model="vm.newLesson.content">Content</textarea>
        </md-input-container>
        <md-input-container class="md-block">
            <label for="facebookUrl">Facebook Link</label>
            <input type="text" id="facebookUrl" ng-model="vm.newLesson.facebookUrl">
        </md-input-container>
        <md-input-container class="md-block">
            <label for="googleplusUrl">Googleplus Link</label>
            <input type="text" id="googleplusUrl" ng-model="vm.newLesson.googleplusUrl">
        </md-input-container>
        <md-input-container class="md-block">
            <label for="twitterUrl">Twitter Link</label>
            <input type="text" id="twitterUrl" ng-model="vm.newLesson.twitterUrl">
        </md-input-container>
        <md-input-container class="md-block">
            <label for="twitterUrl">Website Link</label>
            <input type="text" id="websiteUrl" ng-model="vm.newLesson.websiteUrl">
        </md-input-container>
        <section layout="row">
            <md-button class="md-raised md-button md-ink-ripple" ng-click="vm.saveLesson(vm.newLesson)">Save</md-button>
          
            <md-button class="md-raised md-button md-ink-ripple md-warn" ng-click="vm.clearForm()">Cancel</md-button>
        </section>
        <!-- <pre>{{ lessons | json }}</pre> -->
    </form>
</md-content>
